@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");


html {
    box-sizing: border-box;
  }
  
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: #000000;
    color: red;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }
  .container{
    display: grid;
    margin: 25px 100px;
  }
  .image-grid {
    padding: 12px;
  }
  
  .image{
    border-radius: 25px;
  }
  .image-row {
    display: flex;  
  }
  
  .image-row .image {
    margin: 12px;
    height: 240px;  
  }
  
  .image { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 2px solid red;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
                0 6px 20px rgba(0, 0, 0, 0.15),
                0 6px 20px rgba(0, 0, 0, 0.7);
  }
  
  .image-01 {
    background-image: url(./gymimg/image1.jpg); 
    flex: 1;  
  }
  
  .image-02 {
    background-image: url(./gymimg/image2.jpg);
    flex: 1;  
  }
  
  .image-03 {
    background-image:url(./gymimg/image3.jpg);
    flex: 2;  
  }
  
  .image-04 {
    background-image: url(./gymimg/image7.jpg);
    flex: 1;
  }
  
  .image-05 {
    background-image: url(./gymimg/image4.jpg);
    flex: 2;
  }
  
  .image-06 {
    background-image: url(./gymimg/image6.jpg);
    flex: 2;
  }
  
  .image-07 {
    background-image: url(./gymimg/image5.jpg);
    flex: 1;
  }
  
  .image-08 {
    background-image: url(./gymimg/image10.jpg);
    flex: 3;
  }
  
  .image-09 {
    background-image: url(./gymimg/image9.jpg);
    flex: 1;
  }
  
  .image-10 {
    background-image: url(./gymimg/image8.jpg);
    flex: 1;
  }
  
  .image-11 {
    background-image: url(./gymimg/image11.jpg);
    flex: 1;
  }
  
  .image-12 {
    background-image: url(./gymimg/image12.jpg);
    flex: 1;
  }
  
  @media screen and (max-width: 400px) {
    .image-row {
      flex-direction: column;
    }
    .container{
        margin: 25px 25px;
    }
    .image-row .image {
      flex-basis: auto;
    }
  }